@import url(../../Components/common-components/cdn/cdn.css);
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.home-page-wrap{
    margin: auto;
}
.container{
    max-width: 1120px;
    margin: auto;
}
.line{
    margin: auto;
    width: 1120px;
    height: 1px;
    background: var(--background-colors-gray, #E7E7E7);
}
.main-title{
    padding-bottom: 48px;
    color: var(--system-colors-primary, #313037);
    font-family: Oswald;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}
.book-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px 16px; 
}
.book-list-item{
    width: 352px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.book-wrap-img{
    background-color: #D7E4FD;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 352px;
    height: 264px;
}
.book-img{
    height: 187px;
    width: 149px;
    
}
.book-name,.price{
    text-align: left;
    font-size: 24px;
    color: var(--system-colors-primary, #313037);
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
.book_subtitle{
    color: var(--system-colors-secondary, #A8A8A8);
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
}
.btn_add{
    cursor: pointer;
    background: var(--system-colors-primary, #313037);
    color: var(--background-colors-white, #FFF);
    text-align: center;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    transition: 0.2s;
}
.btn_add:hover{
    background: var(--system-colors-primary-2, #5B5A62);
    transition: 0.2s;
}
@media(max-width: 1190px){
    .container{
        max-width: 1000px;
        margin: auto;
    }
    
    .book-list-item{
        width: 328px;
    }
}