*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    max-width: 1120px;
    margin: auto;
}
.line{
    margin: auto;
    width: 1120px;
    height: 1px;
    background: var(--background-colors-gray, #E7E7E7);
}
.book-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px 16px; 
}
.book-list-item{
    width: 352px;
}
.book-wrap-img{
    background-color: #D7E4FD;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 352px;
    height: 264px;
}
.book-img{
    height: 187px;
    width: 149px;
    
}
.book-name{
    text-align: left;
    font-size: 24px;
}